<div class="p-5">
  <div class="border-start border-info border-5 p-2">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
<BR>
  <div class="border-start border-success border-5 p-2 bg-warning-subtle">
    <p><%= @answer %></p>
    <p>-Your Coach</p>
  </div>
</div>
